* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border:0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --container-width-lg: 80%;
    --container-width-sm: 90%;
    
    --radius-1: 2rem;

    --transition: all 400ms ease;

    --color-1: rgb(209, 209, 209);
    --color-2: #aeaeae;
    --color-3: #898989;
    --color-4: #4b4b4b;
    --color-white: #efefef;
    --color-white-1: #dcdcdc;
    --color-black: #2e2e2e;
    --color-black-1: #171717;
}

.dark {
    --color-4: rgb(209, 209, 209);
    --color-3: #aeaeae;
    --color-2: #898989;
    --color-1: #4b4b4b;
    --color-black: #efefef;
    --color-black-1: #dcdcdc;
    --color-white: #2e2e2e;
    --color-white-1: #171717;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    background: var(--color-white);
    color: var(--color-black);
    line-height: 1.7;
    font-weight: 300;
}

p, a, figcaption {
    font-size: .9rem;
}

.container {
    width: var(--container-width-lg);
    margin-inline: auto;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.7;
}

h2 {
    font-size: 2rem;
}

.btn {
    background: var(--color-3);
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    width: fit-content;
    cursor: pointer;
    transition: var(--var--transition)
}

.btn:hover {
    background: var(--color-2);
}

section {
    padding: 9rem 0;
}

section > h2, section > p {
    width: 50%;
    text-align: center;
    margin-inline: auto;
} 

section > h2 {
    margin-bottom: 0.5rem;
}

nav {
    background: var(--color-white-1);
    border-bottom: .4rem solid var(--color-white);
    box-shadow: .5rem .5rem .5rem #101010;
    display: grid;
    place-items: center;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 2.7rem;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__menu a {
    color: var(--color-black-1)
}

.nav__toggle-open, .nav__toggle-close {
    display: none;
}

.nav__theme-btn {
    color: var(--color-black-1);
    background: transparent;
    font-size: 1.4rem;
    cursor: pointer;
}

header {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: relative;
}

.header__container {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
    margin-top: 10rem;
    position: relative;
}

.header__image-lg {
    width: 29rem;
    position: relative;
    filter: saturate(0) brightness(.3);
    transition: var(--transition);
}

.header__image-sm {
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    top: 5rem;
    left: 4rem;
    transition: var(--transition);
}

.header__left:hover .header__image-sm {
    opacity: 0;
}

.header__left:hover .header__image-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-2);
    top: 1rem;
    left: 1rem;
}

.header__right h1 {
    font-size: 3rem;
}

.header__right p {
    margin-top: 2rem;
    width: 85%;
}

.header__frames {
   display: flex;
}

.header__frame {
    width: 20rem;
    border: .4rem solid var(--color-2);
    box-shadow: .5rem .5rem .5rem #101010;
    position: absolute;
    top: 35vh;
    right: 1rem;
    transition: var(--transition);
}

.header__frame:nth-child(2) {
    right: 23rem;
}

#about {
    background: var(--color-white-1);
    box-shadow:  inset 0 0 3rem #101010;
}

.about__container {
    position: relative;
}

.about__details {
    margin-left: 35rem;
}

.about__frames {
    position: absolute;
    top: 2rem;
    left: -2rem;
    transition: var(--transition);
    margin-right: 15rem;
}

.about__frame {
    width: 17rem;
    border: 0.4rem solid var(--color-4);
    box-shadow: 0 0 4rem #101010;
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);
}

.about__frame:nth-child(2) {
    transform: rotate(20deg);
    top: -2rem;
    left: 2rem;
}

.about__frames:hover .about__frame {
    transform: rotate(0);
}

.about__frames:hover .about__frame:nth-child(2) {
    top: 0;
    left: 18rem;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 3rem 0 2.5rem;
}

.about__card {
    background: var(--color-3);
    color: var(--color-white);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    transition: var(--transition);
    cursor: default;
}

.about__card:hover {
    background: var(--color-2);
    transform: translateY(-.8rem);
}

.about__card i {
    font-size: 2rem;
    display: inline-block;
    padding: .5rem;
}

.genre__categories {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 2.5rem;
    flex-wrap: wrap;
}

.genre__categories li {
    color: var(--color-white);
    background: var(--color-3);
    padding: .6rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: var(--transition);
}

.genre__categories li:hover, .genre__categories li.active {
    background: var(--color-2)
}

.genre__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
}

.genre {
    background: var(--color-4);
    padding: 1.4rem;
    border-radius: .5rem;
    transition: var(--transition);
    color: var(--color-white);
    opacity: 0;
    animation: identifier 1.5s ease forwards;
}

@keyframes identifier {
    to {
        opacity: 1;
    }
}

.genre:hover {
    box-shadow: .5rem .5rem .5rem #101010;
}

.genre__image {
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    overflow: hidden;
}

.genre p {
    margin: .5rem 0 1.5rem;
}

#testimonials {
    box-shadow: inset 0 0 3rem #101010;
    background: var(--color-white-1);
}

.testimonials__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonials__container h2 {
    text-align: center;
}

.testimonial {
    padding-top: 2rem;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-3)
}

.swiper-wrapper {
    height: 30rem;
}

.testimonial__info {
    text-align: center;
}

.testimonial__body {
    background: var(--color-3);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
    color: var(--color-white)
}

.testimonial__body::before {
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(135deg, transparent, var(--color-3), var(--color-3), var(--color-3));
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

#contact {
    background-image: url('./assets/contact.jpeg');
    background-size: cover;
}

#contact > h2 {
    color: #efefef;
}

.container.contact__container {
    width: 60%;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 1.7rem;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-3);
    color: var(--color-white);
    padding: 1rem;
    border-radius: .7rem;
    text-align: center;
    border: .4rem solid transparent;
    transition: var(--transition);
    width: 13rem;
}

.contact__option:hover {
    background: var(--color-2);
    border-color: var(--color-3);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: .7rem;
}

.contact__option h4 {
    margin-bottom: .7rem;
}

.contact__option a {
    display: inline-block;
    font-size: .75rem;
    color: var(--color-white)
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: .7rem;
    background: var(--color-1);
    border: .2rem solid var(--color-2);
    resize: none;
    color: var(--color-white);
}

.btn-primary {
    font-size: 1rem;
    font-weight: 100;
}

footer {
    background: var(--color-white-1);
    padding: 5rem 0 5rem;
    font-size: .9rem;
    box-shadow: inset 0 0 3rem #101010;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer__container div h4 {
    margin-bottom: 1.2rem;
}

footer a {
    color: var(--color-black-1);
}

footer ul li {
    margin-bottom: .7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 1124px) {
    section {
        padding: 7rem 0;
    }

    .nav__menu {
        position: fixed;
        right: 0;
        top: 3.8rem;
        flex-direction: column;
        gap: 0;
        width: fit-content;
        background: var(--color-white-1);
        box-shadow: -3rem 3rem 4rem var(--color-black-1);
        display: none;
    }

    .nav__menu li {
        width: 100%;
    }

    .nav__menu li a {
        background: var(--color-white-1);
        text-align: center;
        padding: 1rem 4rem;
        width: 100%;
        display: block;
    }

    .nav__toggle-open, .nav__toggle-close {
        display: inline-block;
        background: transparent;
        font-size: 1.7rem;
        color: var(--color-black-1);
    }

    .nav__toggle-close {
        display: none;
    }

    .nav__buttons {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    header {
        height: fit-content;
    }

    .header__container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header__left:hover .header__image-lg {
        top: 0rem;
        left: 0rem;
    }

    .header__right > p {
        width: 100%;
        margin-block-start: 0;
    }

    .header__left:hover .header__image-lg {
        top: 0rem;
        left: 0rem;
    }

    .header__image-sm, .header__frames {
        display: none;
    }

    .header__image-lg {
        filter: saturate(1);
        border: 1rem solid var(--color-2);
        border-radius: 30rem 30rem 0 0;
        margin-top: 1rem;
        width: 90%;
        margin-inline: auto;
    }

    .header__image-lg img {
        border-radius: 30rem 30rem 0 0;
    }

    .about__details {
        margin-left: 0;
    }

    .about__container {
        display: flex;
        flex-direction: column-reverse;
    }

    .about__details {
        text-align: center;
    }

    .about__frames {
        position: relative;
        top: 5rem;
        left: 0rem;
        display: flex;
        justify-content: space-around;
        margin-right: 0;
        gap: 3rem;
    }
    
    .about__frame {
        width: 25rem;
        border: 0.4rem solid var(--color-4);
        box-shadow: 0 0 4rem #101010;
        position: relative;
        transform: none;
        transform-origin: bottom left;
        transition: var(--transition);
    }
    
    .about__frame:nth-child(2) {
        transform: none;
        top: 0rem;
        left: 0rem;
    }
    
    .about__frames:hover .about__frame {
        transform: none;
    }
    
    .about__frames:hover .about__frame:nth-child(2) {
        top: 0;
        left: 0;
    }

    .genre__container {
        grid-template-columns: 1fr 1fr;
    }

    .contact {
        margin-top: 5rem;
    }

    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem
    }

    .contact__option {
        width: 100%;
    }

    .footer__container {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 600px) {
    .header__container h1 {
        font-size: 4rem;
    }

    .container {
        width: var(--container-width-sm)
    }

    .about__cards {
        grid-template-columns: 1fr;
    }

    .genre__container {
        grid-template-columns: 1fr;
    }

    .container.contact__container {
        width: var(--container-width-sm)
    }

    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        place-items: center;
        margin: 0;
        padding: 0;
    }

}